@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

body {
    font-family: "Outfit", sans-serif;
}

.container {
    max-width: 1200px;
    width: 96%;
    margin: 0 auto;
}

::-webkit-scrollbar {
    display: none;
}

.mil-more:hover {
    cursor: none !important;
}
